<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/delivery-policy']">Chính sách giao hàng - vận chuyển</a></li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container" style="font-size: 14px;">
            <div class="row " style="padding: 15px;">
                <div class="col-lg-3" style="background-color: #f8f9fa;height: 300px; margin-top: -40px;">
                    <div class="ps-section__left" style="margin-top: 20px;">
                        <aside class="ps-widget--account-dashboard" style="width: 490px;">
                            <div class="ps-widget__content">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận chuyển</a>
                                    </li>
                                    
                                    <li>
                                        <a [routerLink]="['/size-guide']">Hướng dẫn chọn size</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/payment-guide']">Hứơng dẫn thanh toán</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/return-policy']">Quy định đổi hàng</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                          
                            <div style="margin-top: -65px; margin-left: 20px;">
                                <div>
                                    <p class="font">THỜI GIAN LÀM VIỆC DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</p>
                                    <p>Dịch vụ CSKH sẽ hoạt động từ 9h - 18h và 20h - 22h</p>
                                    <p>Khách hàng có thể gửi liên hệ hỗ trợ mua hàng thông qua các kênh sau: </p>
                                    <p>Hotline: 097 1549 770 (Call/SMS/Zalo)<br>
                                        Biểu tượng chat tại website hoặc nhắn tin đến <u><a style="text-decoration: none;"
                                            href="https://www.facebook.com/ya.yoi.10004/" target="_blank">Facebook KaliRoseShop</a></u>
                                    </p>
                                </div>
                                <div>
                                    <p class="font">PHẠM VI GIAO HÀNG</p>
                                    <p>KaliRoseShop hỗ trợ giao hàng cho khách hàng trên toàn quốc.</p>
                                    <p>Trong trường hợp có phát sinh dịch bệnh hoặc trong các trường hợp bất khả kháng
                                        tại thời điểm phát sịnh, khu vực giao hàng
                                        có thể thay đổi theo quy định của cơ quan quản lý Nhà Nước.
                                    </p>
                                </div>
                                <div>
                                    <p class="font">THỜI GIAN GIAO HÀNG</p>
                                    <p>Phục vụ giao hàng trong giờ hàng chính từ thứ 2 đến thứ 6 (trừ thứ 7, Chủ nhật và
                                        ngày Lễ, Tết theo quy định của Nhà Nước</p>
                                    <table class="timeship">
                                        <tr>
                                            <th style="width: 400px;">CHUYỂN PHÁT NHANH</th>
                                            <th>NHẬN TẠI CỬA HÀNG</th>
                                        </tr>
                                        <tr>   
                                            <td>
                                                Thời gian giao hàng từ 1-5 ngày làm việc <br>
                                                Chi phí giao hàng hiển thị tại bước đặt hàng
                                            </td>                           
                                            <td>
                                                Thời gian giao hàng từ 24-72h.
                                                Miễn phí giao hàng tại hệ thống cửa hàng KaliRoseShop                   
                                            </td>
                                        </tr>                                      
                                    </table>
                                </div>
                                <div>
                                    <p class="font">CÁC LƯU Ý KHÁC VỀ THỜI GIAN GIAO HÀNG VÀ NHẬN HÀNG</p>
                                    <p>Đơn hàng sẽ được giao tới tận nhà của Quý khách, ngoại trừ các trường hợp như: Ku vực văn phòng hạn chế ra
                                        vào, khu vực chung cư/ cao tầng (chỉ giao tại cửa tòa nhà).
                                    </p>
                                    <p>Do nguyên tắc "Nguyên đai, nguyên kiện", các đơn vị vận chuyển sẽ không giải quyết khiêu nại bồi thường nếu Quý
                                        Khách đồng ý nhận hàng và đã ký vào biên bản nhận hàng. Do đó, vui lòng kiểm tra kỹ bao bì của sản phẩm trước khi xác nhận hàng.
                                        Nếu bao bì sản phẩm có dấu hiệu hư hại (rách/móp/méo/thủng/ướt) và Quý Khách nghi ngờ hàng hóa bên trong bị tổn hại,
                                        vui lòng từ chối nhận hàng và thông báo cho chúng tôi.
                                    </p>
                                    <p>Quý Khách được khuyến nghị luôn quyay video lại gói hàng trong quá trình mở hàng để lưu lại bằng chứng về tình trạng bao bì bọc, phục vụ cho qusa trình xử lý khiếu nại (nếu có).</p>
                                    <p>Nếu có bất kỳ khiếu nại nào liên quan đến đơn hàng, Quý Khách vui lòng gửi phản hồi về cho KaliRoseShop với đầy đủ thông tin đơn hàng
                                        kèm hình ảnh hiện trang/gói hàng và hình ảnh sản phẩm để được giải quyết kịp thời.<br>
                                        Email phản hồi:<a style="color:  #f6c23e;" href="mailto:kaliroseshop2001@gmail.com?subject=Hỗ trợ khách hàng&body=Message"><i>kaliroseshop2001@gmail.com</i></a>
                                    </p>
                                </div>
                                <div>
                                    <p class="font">QUY ĐỊNH PHÍ GIAO HÀNG</p>
                                    <p>Phí giao hàng của đơn hàng mặc định đồng giá là 30.000 VNĐ. Nếu mua đơn hàng trên 10 triệu đơn hàng sẽ được miễn ship </p>
                                </div>
                                <div>
                                    <i class="italic">Mọi thắc mắc về chính sách giao hàng, Quý Khách vui lòng liên hệ tới email <a style="color:  #f6c23e;" href="mailto:kaliroseshop2001@gmail.com?subject=Hỗ trợ khách hàng&body=Message">kaliroseshop2001@gmail.com</a></i><br>
                                    <i class="italic" >Cảm ơn và rất hân hạnh phục vụ quý khách!</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>