
<div class="ps-breadcrumb">
    <div class="ps-container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<section >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="margin-top: 30px;">
                    <h2 class="title" >CHÀO MỪNG ĐẾN VỚI ZARETH'S SHOP</h2>
                    <div>
                        <p class="font_size">
                            Zareth's là cửa hàng thời trang nữ và mang phong cách sống toàn cầu cam kết làm cho vẻ đẹp
                            của thời trang có thể tiếp cận được với tất cả mọi người. Chúng tôi sử dụng công nghệ sản
                            xuất theo yêu cầu để kết nối các nhà cung cấp với chuỗi cung ứng linh hoạt của chúng tôi,
                            giảm lãng phí hàng tồn kho và cho phép chúng tôi cung cấp nhiều loại sản phẩm giá cả phải
                            chăng cho khách hàng trên toàn quốc. Từ các văn phòng của mình, chúng tôi tiếp
                            cận khách hàng tại hơn 36 tỉnh thành trong nước Việt Nam. Sản phẩm của chúng tôi mang phong
                            cách
                            hiện đại và mới mẻ nhất, luôn cập nhật các mẫu quần áo hot để bắt kịp các xu hướng.
                        </p>
                        <img class="gioithieu" src="img/bg/shop1.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">SƠ LƯỢC VỀ ZARETH'S</h2>
                    <div class="khung_chung">
                        <div class="khung_left">
                            <div class="tt">
                                <img class="img" src="img/bg/people.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Tổng cộng</p>
                                    <h2>700</h2>
                                    <p>Nhân viên trên toàn quốc</p>
                                </div>
                            </div>
                        </div>
                        <div class="khung_right">
                            <div class="tt">
                                <img class="img" src="img/bg/gender.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Gần</p>
                                    <h2>+500</h2>
                                    <p>Nhân viên nữ</p>
                                </div>
                            </div>
                        </div>
                        <div class="khung">
                            <div class="tt">
                                <img class="img" src="img/bg/cau.jpg">
                                <div clas="ttc" style="text-align: center;">
                                    <p>Vận chuyển</p>
                                    <h2>36</h2>
                                    <p>Tỉnh thành</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">THÔNG TIN CỬA HÀNG</h2>
                    <div>
                        <p>
                            Tên chi nhánh: Zareth's - Chi nhánh công ty TNHH Sao Mai<br>
                            Địa chỉ: Thôn Một Thượng, Thắng Lợi, Thường Tín, TP. Hà Nội<br>
                            Điện thoại: 0999 999 999<br>
                            Đại diện kinh doanh: Phạm Văn Liêm<br>
                            Ngành nghề kinh doanh: Bán quần áo thời trang trên toàn quốc<br>
                            Website: <br>
                            Email: Zareth2001@gmail.com<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row"> -->
            <div class="col-lg-12">
                <aside class="widget widget--vendor widget--open-time">
                    <h2 class="title" style="margin-left: -15px;"><i class="icon-clock3"></i> GIỜ CỬA HÀNG</h2>
                    <ul>
                        <li><strong>Thứ 2:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 3:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 4:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 5:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 6:</strong><span>7:00 am - 22:00 pm</span></li>
                        <li><strong>Thứ 7:</strong><span>7:00 am - 23:00 pm</span></li>
                        <li><strong>Chủ nhật:</strong><span>7:00 am - 23:00 pm</span></li>
                    </ul>
                </aside>
                <!-- <div>
                    <h2 class="title">THỜI GIAN HOẠT ĐỘNG</h2>
                    <div>
                        <table  class="bangtg">
                            <tr>
                                <td>Ngày</td>
                                <td>Giờ</td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>7h - 22h</td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>7h - 22h</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>7h - 23h</td>
                            </tr>
                            <tr>
                                <td>Chủ nhật</td>
                                <td>7h - 23h</td>
                            </tr>
                        </table>
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="title">CÂU TRUYỆN CỦA CHÚNG TÔI</h2>
                    <p>
                        Chúng tôi tin rằng vẻ đẹp của thời trang nên được tiếp cận với tất cả mọi người, không chỉ một
                        số ít đặc quyền. Khi cửa hàng được thành lập vào năm 2019, chúng tôi nhận thấy rằng các cửa hàng
                        thời trang phải lựa chọn giữa cung cấp sự lựa chọn hoặc giảm áp lực hàng tồn kho và lãng phí. Vì
                        vậy, chúng tôi bắt đầu thay đổi điều đó bằng cách đi đầu trong việc phát triển các quy trình và
                        công nghệ thay thế để đưa thời trang vào tương lai.
                        Khách hàng của chúng tôi là cốt lõi trong mô hình kinh doanh của chúng tôi, thúc đẩy sự phát
                        triển của chúng tôi với đội ngũ gần 700 nhân viên phục vụ 36 tỉnh thành Việt Nam. Mô hình ưu
                        tiên kỹ thuật số của chúng tôi đáp ứng khách hàng ở bất kỳ đâu: trên
                        thiết bị di động, trực tuyến và trên phương tiện truyền thông xã hội. Chúng tôi đã trở thành một
                        trong những ứng dụng mua sắm phổ biến nhất và tiếp tục thu hút khách hàng bằng cách cung cấp
                        nhiều luồng nội dung trực tiếp trong nền tảng KaliRose và mang lại trải nghiệm mua sắm trực
                        tuyến
                        tốt nhất.
                    </p>
                    <img class="gioithieu" src="img/bg/vedep.jpeg">
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email">
                            <button class="ps-btn">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->