<div id="homepage-1">
    <div class="ps-home-banner ps-home-banner--1">
        <div class="ps-container">
            <nz-carousel nzAutoPlay nzEffect="fade" [nzAutoPlaySpeed]="2500">
                <div nz-carousel-content *ngFor="let image of images" class="ps-section__left">
                    <a class="ps-collection" href="javascript:void(0);"><img
                        [src]="image" alt="carousel image"
                        height="425px"></a>
                </div>
            </nz-carousel>
            <div class="ps-section__right">
                <a class="ps-collection" href="javascript:void(0);"><img
                    src="img/banner9.jpg"
                        height="193px" width="390" alt="" style="margin-top: 20px;"></a>
                <a class="ps-collection" href="javascript:void(0);"><img
                    src="img/banner10.jpg"
                        height="200px" width="390" alt=""></a>
            </div>
        </div>
    </div>

    <div class="row" style="min-height: 700px !important;" *ngIf="isLoading">
        <div class="spinner-border text-warning" role="status" style="margin: auto; width: 6em;height: 6em;"></div>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="ps-container">
            <div class="ps-section__header" style="background-color: #FBCEDC; padding-top: 8px;">
                <h3 style="padding: 8px;"> SẢN PHẨM THỊNH HÀNH</h3>
            </div>
            <br>
            <div class="ps-section__content">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let item of productRated  | paginate: { itemsPerPage: 30, currentPage: 0}"
                        class="slide">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                                <!-- <a href="javascript:void(0);">
                                    <img [src]="getImageByProduct(item.imageBase64)" [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a> -->
                                <a href="javascript:void(0);">
                                    <img [src]="item.image"
                                        [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a>
                                <div class="ps-product__badge" style="background-color: red;">-{{item.discount}}%</div>
                                <ul class="ps-product__actions">
                                    <li *ngIf="item.quantity>0"><a href="javascript:void(0);" title="Thêm giỏ hàng"
                                            (click)="addCart(item.productId, item.price*(1 - item.discount/100))"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li *ngIf="item.quantity<1"><a href="javascript:void(0);" title="Hết hàng"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li><a [routerLink]="['/product-detail/'+item.productId]" data-toggle="tooltip"
                                            data-placement="top" title="Xem Chi Tiết"><i class="icon-eye"></i></a></li>
                                    <li><a href="javascript:void(0);" (click)="toggleLike(item.productId)"
                                            data-toggle="tooltip" data-placement="top" title="Yêu Thích"><i
                                                class="icon-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__container">
                                <a class="ps-product__vendor" href="javascript:void(0);">
                                    <span> {{item.category.categoryName}}</span>
                                </a>
                                <div class="ps-product__content">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                                <div class="ps-product__content hover">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <br><br>
    <!-- <div class="ps-home-ads">
      <div class="ps-container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 " ><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-5.jpg" alt=""></a>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 "><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-4.jpg" alt=""></a>
              </div>
          </div>
      </div>
  </div> -->
    <br>

    <div class="row" *ngIf="!isLoading">
        <div class="ps-container">
            <div class="ps-section__header" style="background-color: #FBCEDC; padding-top: 8px;">
                <h3 style="padding: 8px;">SẢN PHẨM BÁN CHẠY NHẤT</h3>
            </div>
            <br>
            <div class="ps-section__content">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let item of productSeller | paginate: { itemsPerPage: 30, currentPage: 0}"
                        class="slide">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                                <!-- <a href="javascript:void(0);">
                                    <img [src]="getImageByProduct(item.imageBase64)"
                                        [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a> -->
                                <a href="javascript:void(0);">
                                    <img [src]="item.image"
                                        [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a>
                                <div class="ps-product__badge" style="background-color: red;">-{{item.discount}}%</div>
                                <ul class="ps-product__actions">
                                    <li *ngIf="item.quantity>0"><a href="javascript:void(0);" title="Thêm giỏ hàng"
                                            (click)="addCart(item.productId, item.price*(1 - item.discount/100))"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li *ngIf="item.quantity<1"><a href="javascript:void(0);" title="Hết hàng"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li><a [routerLink]="['/product-detail/'+item.productId]" data-toggle="tooltip"
                                            data-placement="top" title="Xem Chi Tiết"><i class="icon-eye"></i></a></li>
                                    <li><a href="javascript:void(0);" (click)="toggleLike(item.productId)"
                                            data-toggle="tooltip" data-placement="top" title="Yêu Thích"><i
                                                class="icon-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__container">
                                <a class="ps-product__vendor" href="javascript:void(0);">
                                    <span> {{item.category.categoryName}}</span>
                                </a>
                                <div class="ps-product__content">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                                <div class="ps-product__content hover">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>

    <br> <br>
    <!-- <div class="ps-home-ads">
      <div class="ps-container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 " ><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-7.jpg" alt=""></a>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 "><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-6.png" alt=""></a>
              </div>
          </div>
      </div>
  </div> -->
    <br>
    <div class="row" *ngIf="!isLoading">
        <div class="ps-container">
            <div class="ps-section__header" style="background-color: #FBCEDC; padding-top: 8px;">
                <h3 style="padding: 8px;">SẢN PHẨM NỔI BẬT</h3>
            </div>
            <br>
            <div class="ps-section__content">
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let item of productLatest | paginate: { itemsPerPage: 30, currentPage: 0}"
                        class="slide">
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                                <!-- <a href="javascript:void(0);">
                                    <img [src]="getImageByProduct(item.imageBase64)" [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a> -->
                                <a href="javascript:void(0);">
                                    <img [src]="item.image" [routerLink]="['/product-detail/'+item.productId]" alt="" />
                                </a>
                                <div class="ps-product__badge" style="background-color: red;">-{{item.discount}}%</div>
                                <ul class="ps-product__actions">
                                    <li *ngIf="item.quantity>0"><a href="javascript:void(0);" title="Thêm giỏ hàng"
                                            (click)="addCart(item.productId, item.price*(1 - item.discount/100))"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li *ngIf="item.quantity<1"><a href="javascript:void(0);" title="Hết hàng"
                                            data-toggle="tooltip" data-placement="top"><i class="icon-bag2"></i></a>
                                    </li>
                                    <li><a [routerLink]="['/product-detail/'+item.productId]" data-toggle="tooltip"
                                            data-placement="top" title="Xem Chi Tiết"><i class="icon-eye"></i></a></li>
                                    <li><a href="javascript:void(0);" (click)="toggleLike(item.productId)"
                                            data-toggle="tooltip" data-placement="top" title="Yêu Thích"><i
                                                class="icon-heart"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__container">
                                <a class="ps-product__vendor" href="javascript:void(0);">
                                    <span> {{item.category.categoryName}}</span>
                                </a>
                                <div class="ps-product__content">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                                <div class="ps-product__content hover">
                                    <a class="ps-product__title"
                                        [routerLink]="['/product-detail/'+item.productId]">{{item.name}}</a>
                                    <div class="ps-product__desc" *ngIf="getAvgRate(item.productId)>0">
                                        <ngb-rating [rate]="getAvgRate(item.productId)" [starTemplate]="t"
                                            [readonly]="true" [max]="5" title="{{getAvgRate(item.productId)}} sao">
                                        </ngb-rating>
                                        ({{countRate}} đánh giá)
                                    </div>
                                    <p class="ps-product__price sale">
                                        <del *ngIf="item.discount != 0">{{item.price|currency:'VND'}}</del>
                                        {{item.price*(1 - item.discount/100) | currency:'VND'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="ps-home-ads">
        <!-- <div class="ps-container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 "><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-1.jpg" alt=""></a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "><a class="ps-collection" href="javascript:void(0);"><img src="img/collection/home-1/ad-2.jpg" alt=""></a>
                </div>
            </div>
        </div> -->
        <div class="ps-home-ads">
            <div class="ps-container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "><a class="ps-collection"
                            href="javascript:void(0);"><img
                                src="//file.hstatic.net/200000182297/article/278773775_2415192895285264_2361528904623727306_n_e5175a3f6a4b4781b74421a84641fa90_large.jpg"
                                alt=""></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "><a class="ps-collection"
                            href="javascript:void(0);"><img
                                src="//file.hstatic.net/200000182297/article/315854475_2623148267823058_3203710229884569157_n_3baa02b3ee4348339faec98be869be0d_large.jpg"
                                alt="" style="height:100% ;"></a>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "><a class="ps-collection"
                            href="javascript:void(0);"><img
                                src="//file.hstatic.net/200000182297/article/277792773_2405871579550729_300161647078595887_n_94aacacb7a204191a62d1baf91d110c4_large.jpg"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>