<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a></li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container" style="font-size: 14px;">
            <div class="row " style="padding: 15px;">
                <div class="col-lg-3" style="background-color: #f8f9fa;height: 300px; margin-top: -40px;">
                    <div class="ps-section__left" style="margin-top: 20px;">
                        <aside class="ps-widget--account-dashboard" style="width: 490px;">
                            <div class="ps-widget__content">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận chuyển</a>
                                    </li>

                                    <li>
                                        <a [routerLink]="['/size-guide']">Hướng dẫn chọn size</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/payment-guide']">Hứơng dẫn thanh toán</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/return-policy']">Quy định đổi hàng</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                            <div style="margin-top: -65px; margin-left: 20px;">
                                <div class="rte">
                                    <p>&nbsp;</p>
                                    <p style="margin-bottom:8px; text-align:center"><span
                                            style="font-size:20px "><strong></strong><strong>QUY ĐỊNH VỀ BẢO HÀNH SỬA CHỮA SẢN PHẨM</strong></span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">- Chỉ
                                            bảo hành/sửa chữa các sản phẩm được sản xuất và phân phối bởi KaliRoseShop</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">- Chỉ
                                            bảo hành/sửa chữa 01 lần/01 sản phẩm trong thời hạn 30 ngày.</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">- Khi
                                            bảo hành/sửa chữa, khách hàng cần cung cấp đầy đủ Phiếu bảo hành (là hoá đơn
                                            bán hàng có thông tin và thời hạn bảo hành). Trong trường hợp không có phiếu
                                            bảo hành hoặc có nhưng hết hạn, xóa sửa, không còn nguyên vẹn, KaliRoseShop sẽ từ
                                            chối bảo hành/sửa chữa sản phẩm.</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">-
                                            Không bảo hành/sửa chữa các sản phẩm bị hư hỏng do lỗi phát sinh trong quá
                                            trình sử dụng: trầy xước, rách do va chạm vật sắc nhọn, động vật cắn, sản
                                            phẩm hư hỏng do bảo quản không tốt dẫn đến ẩm mốc, phai nắng,...</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">-
                                            Không thay thế hoặc cấp lại phụ kiện đi kèm sản phẩm</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span
                                            style="font-size:11pt"><strong>1.1. </strong><strong>Sản phẩm quần áo thời
                                                trang:</strong></span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">1. Chỉ
                                            bảo hành/sửa chữa đối với các sản phẩm có mức giảm giá&nbsp; ≤ 50%</span>
                                    </p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">2.
                                            Không bảo hành/sửa chữa áo phao, áo phông, đồ len</span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt">3. Chỉ
                                            nhận bảo hành/sửa chữa các trường hợp sau: lên hoặc xuống gấu, nới rộng hoặc
                                            bóp hẹp ở mức độ đơn giản, đính lại phụ kiện. Không nhận sửa chữa làm thay
                                            đổi kiểu dáng, thiết kế của sản phẩm: sửa dáng suông thành dáng ôm, tay ngắn
                                            thành tay dài, thay chất liệu vải, nhảy size quá lớn (ví dụ từ size 6 xuống
                                            thành size 2),...</span></p>                             
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt"><span
                                                style="background-color:white">4. Thời gian bảo hành và sửa
                                                    chữa: 03 đến 15 ngày làm việc kể từ ngày KaliRoseShop nhận được sản
                                                phẩm </span></span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt"><span
                                                style="background-color:white">5.
                                               Địa chỉ nhận bảo hành và sửa
                                                    chữa: Khách hàng vui lòng mang trực tiếp
                                                sản phẩm và phiếu bảo hành tới địa chỉ showroom gần nhất của KaliRoseShop để được
                                                phục vụ</span></span></p>
                                    <p style="margin-bottom:8px; text-align:justify"><span style="font-size:11pt"><span
                                                style="background-color:white"><strong><em style="color: blue;">Lưu ý:</em></strong> Trong
                                                trường hợp xảy ra các tình huống phát sinh đặc biệt hoặc trường hợp có
                                                bất đồng, tranh cãi, KaliRoseShop sẽ là người ra quyết định cuối
                                                cùng.</span></span></p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>