
<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/return-policy']">Quy định đổi hàng</a></li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container" style="font-size: 14px;">
            <div class="row " style="padding: 15px;">
                <div class="col-lg-3" style="background-color: #f8f9fa;height: 300px; margin-top: -40px;">
                    <div class="ps-section__left" style="margin-top: 20px;">
                        <aside class="ps-widget--account-dashboard" style="width: 490px;">
                            <div class="ps-widget__content">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận chuyển</a>
                                    </li>
                                    
                                    <li>
                                        <a [routerLink]="['/size-guide']">Hướng dẫn chọn size</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/payment-guide']">Hứơng dẫn thanh toán</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/return-policy']">Quy định đổi hàng</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                          
                            <div style="margin-top: -65px; margin-left: 20px;">
                                <div data-content-type="text" data-appearance="default" data-element="main"
                                data-pb-style="SEOU87K">
                                <p style="text-align: center;"><span style="font-size:20px;"><strong>QUY ĐỊNH
                                            ĐỔI HÀNG</strong></span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">Chính sách
                                        đổi hàng áp dụng cho khách hàng mua hàng và thanh toán trên trang web
                                        <span style="color: #0000ff;"><a style="color: #0000ff;" tabindex="0"
                                                href="https://sandro.com.vn/">kaliroseshop2001@gmail.com</a></span><br></span>
                                </p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">Không áp
                                        dụng cho sản phẩm mua trực tiếp
                                        tại hệ thống cửa hàng KaliRoseShop.</span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">Phương thức
                                        đổi hàng: đổi hàng trực tuyến (qua đơn vị vận chuyển).</span></p>
                                <h4><span style="line-height: 24px; font-size: 14px; color: #000000;"><strong>Nội
                                            dung chính sách đổi hàng:<br></strong></span></h4>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Áp dụng đổi hàng với các
                                        sản phẩm nguyên giá và các sản phẩm giảm giá không quá 30%.</span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Mỗi sản phẩm được hỗ trợ
                                        đổi 01 lần duy nhất. Sản phẩm được đổi trong vòng 30 ngày,
                                        . Thời hạn
                                        đổi hàng được tính từ ngày khách hàng nhận được sản phẩm được thể hiện
                                        trên hệ thống cho đến ngày khách gửi hàng cho đơn vị vận chuyển.</span>
                                </p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Không áp dụng hoàn trả
                                        sản phẩm.</span></p>                             
                                
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Việc đổi hàng được thực
                                        hiện theo hình thức đổi cùng sản phẩm (khác kích cỡ, màu sắc), hoặc đổi
                                        sang sản phẩm có giá trị tương đương hoặc cao hơn sản phẩm ban đầu
                                        (khách hàng thanh toán chi phí chênh lệch sản phẩm). Chúng tôi sẽ không
                                        hoàn trả phần chênh lệch nếu như giá sản phẩm đổi thấp hơn giá sản phẩm
                                        đã mua.</span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Tất cả các sản phẩm đổi
                                        hàng phải đảm bảo giữ nguyên nhãn mác, hộp/bao bì sản phẩm, phụ kiện đi
                                        kèm như ban đầu (bao gồm giấy lót sản phẩm) cùng hóa đơn bán hàng do cửa
                                        hàng&nbsp; chính hãng tại Việt Nam xuất ra kèm phiếu bảo hành cùng với
                                        túi, hộp, và quà tặng kèm theo (nếu có).</span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">• Không áp
                                        dụng đổi hàng trong các trường hợp: </span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">&nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; - Sản phẩm đã qua sử dụng, đã chỉnh sửa hoặc
                                        có sự hư hại. </span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">&nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; - Sản phẩm đã qua giặt ủi/là, hoặc có mùi
                                        lạ. </span></p>
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">&nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; - Sản phẩm bị lỗi do quá trình lưu giữ, vận
                                        chuyển của người sử dụng. </span></p>
                                <p><span style="line-height: 24px; font-size: 14px;"><span
                                            style="color: #000000;"><br></span><span style="color: #000000;">•
                                            Trong trường hợp việc đổi hàng được thực hiện không phải lỗi từ sản
                                            phẩm và từ nhu cầu của khách hàng, khách hàng sẽ chịu toàn bộ chi
                                            phí vận chuyển hàng hóa đổi. </span></span></p>
                               
                                <p><span style="line-height: 24px; font-size: 14px; color: #000000;">Mọi thắc
                                        mắc hoặc yêu cầu đổi hàng, Khách hàng vui lòng gửi email tới <span
                                            style="color: #0000ff;"> <a style="color: #0000ff;" tabindex="0"
                                                href="mailto:kaliroseshop2001@gmail.com">kaliroseshop2001@gmail.com</a>
                                        </span> hoặc gửi yêu cầu qua biểu mẫu tại trang <span
                                            style="color: #0000ff;"><a style="color: #0000ff;" tabindex="0"
                                            [routerLink]="['/contact']"><strong>Liên
                                                    hệ</strong></a></span></span></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>