<div class="ps-download-app">
    <div class="ps-container" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="ps-block--download-app">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block__thumbnail"><img src="img/anh.png" alt=""
                                style="height:500px;margin-top: -100px;"></div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block__content">
                            <h3>Đăng kí với shop Zarath ngay!</h3>
                            <p>Mua sắm nhanh chóng, dễ dàng hơn và nhận được nhiều ưu đãi và khuyến mại của shop chúng
                                tôi</p>
                            <form class="ps-form--download-app" action="#" method="post">
                                <div class="form-group--nest">
                                    <input class="form-control" type="Email" placeholder="Địa chỉ Email">
                                    <button class="ps-btn" style="background-color: #FBCEDC;">Gửi</button>
                                </div>
                            </form>
                            <p class="download-link"><a href="#"><img src="img/google-play.png" alt=""></a><a
                                    href="#"><img src="img/app-store.png" alt=""></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-site-features">
    <div class="ps-container">
        <div class="ps-block--site-features">
            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket" style="color: #FBCEDC;"></i></div>
                <div class="ps-block__right">
                    <h4>Giao hàng miễn phí</h4>
                    <p>Dành cho tất cả đơn hàng trên 10 triệu</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync" style="color: #FBCEDC;"></i></div>
                <div class="ps-block__right">
                    <h4>Đổi trả 30 ngày trở lại</h4>
                    <p>Nếu hàng hóa có vấn đề</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card" style="color: #FBCEDC;"></i></div>
                <div class="ps-block__right">
                    <h4>Thanh toán an toàn </h4>
                    <p>100% thanh toán an toàn</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles" style="color: #FBCEDC;"></i></div>
                <div class="ps-block__right">
                    <h4>Hỗ trợ 24/7</h4>
                    <p>Hỗ trợ tận tâm</p>
                    <p>(+84) 97 154 9770</p>
                </div>
            </div>
            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-gift" style="color: #FBCEDC;"></i></div>
                <div class="ps-block__right">
                    <h4>Dịch vụ quà tặng</h4>
                    <p>Hỗ trợ dịch vụ quà tặng cho đơn hàng trên 500.000 VNĐ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.240243198698!2d105.87691782521692!3d20.822003030776084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135b154f9aa7d8f%3A0xe0d8ed948323e6f0!2zTeG7mXQgVGjGsOG7o25nLCBUaOG6r25nIEzhu6NpLCBUaMaw4budbmcgVMOtbiwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1681580577069!5m2!1svi!2s"
        height="300px" ></iframe>
</div>
<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Liên hệ chúng tôi</h4>
                <div class="widget_content">
                    <p>Gọi cho chúng tôi 24/7</p>
                    <h3><a style="font-weight: bolder; color: #FBCEDC;" href="tel:+84971549770">0971 549 770</a></h3>
                    <p>Thắng Lợi, Thường Tín, Hà Nội <br></p>
                    <a href="mailto:kaliroseshop2001@gmail.com?subject=Hỗ trợ khách hàng&body=Message"><span
                            class="__cf_email__"
                            data-cfemail="14777b7a6075776054797566607261666d3a777b">Zarath@gmail.com</span></a>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="https://www.facebook.com/lanhlung.liem.56/" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://www.facebook.com/lanhlung.liem.56/" target="_blank"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="https://www.facebook.com/lanhlung.liem.56/" target="_blank"><i
                                    class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="https://www.facebook.com/lanhlung.liem.56/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Giới thiệu</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);" [routerLink]="['/about']">Về chúng tôi</a></li>
                    <li><a href="javascript:void(0);">Nghề nghiệp</a></li>
                    <li><a href="javascript:void(0);">Career</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/contact']">Liên hệ</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Hướng dẫn khách hàng</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);" [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận
                            chuyển</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/size-guide']">Hướng dẫn chọn size</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/payment-guide']">Hướng dẫn thanh toán</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/return-policy']">Quy định đổi hàng</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa
                            chữa</a></li>

                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Kinh doanh</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);" [routerLink]="['/about']">Báo chí của chúng tôi</a></li>
                    <li><a href="javascript:void(0);">Thủ tục thanh toán</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/profile']">Tài khoản của tôi</a></li>
                    <li><a href="javascript:void(0);" [routerLink]="['/all-product']">Cửa hàng</a></li>
                </ul>
            </aside>
        </div>

        <div class="ps-footer__copyright">
            <p>&copy; 2023 KaliRose. Đã đăng kí bản quyền</p>
            <p><span>Chúng tôi sử dụng thanh toán an toàn cho:</span>
                <a href="javascript:void(0);"><img src="img/payment-method/1.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/2.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/3.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/4.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/5.jpg" alt="" /></a>
            </p>
        </div>
    </div>
    <!-- <button id="myBtn2" style="background:white">
        <a href="https://www.facebook.com/profile.php?id=100092590886510" target="_blank"><img target="_blank"
                src='img/message.jpg' title='Chat Messenger' width='70px' /></a>
    </button> -->
</footer>