<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a  [routerLink]="['/size-guide']">Hướng dẫn chọn size</a></li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container" style="font-size: 14px;">
            <div class="row " style="padding: 15px;">
                <div class="col-lg-3" style="background-color: #f8f9fa;height: 300px; margin-top: -40px;">
                    <div class="ps-section__left" style="margin-top: 20px;">
                        <aside class="ps-widget--account-dashboard" style="width: 490px;">
                            <div class="ps-widget__content">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận chuyển</a>
                                    </li>

                                    <li>
                                        <a  [routerLink]="['/size-guide']">Hướng dẫn chọn size</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/payment-guide']">Hướng dẫn thanh toán</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/return-policy']">Quy định đổi hàng</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                            <div style="margin-top: -65px; margin-left: 20px;">
                                <p style="text-align: center;"><span style="font-size:20px;"><strong>HƯỚNG DẪN CHỌN
                                            SIZE</strong></span></p>
                                <tbody>
                                    <tr>
                                        <td class="xl67"
                                            style="border-bottom: 2px solid black; height: 38px; width: 118px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">SIZE&nbsp;</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">S -
                                                                    02</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">M -
                                                                    04</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">L -
                                                                    06</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">XL -
                                                                    08</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">2XL -
                                                                    10</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl68"
                                            style="border-bottom: 2px solid black; width: 152px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">3XL -
                                                                    12</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl69"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">VAI
                                                                    (cm)</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">35</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">36</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">37</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">38</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">39</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">40</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl69"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">NGỰC
                                                                    (cm)</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">82</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">86</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">90</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">94</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">98</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">102</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl69"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">EO
                                                                    (cm)</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">66&nbsp;</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">70</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">75</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">80</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">84</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">88</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl69"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">MÔNG
                                                                    (cm)</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">86</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">90</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">94</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">98</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">102</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">106</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl72"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">CÂN NẶNG
                                                                    (kg)</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">45 -
                                                                    50</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">51 -
                                                                    55</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">56 -
                                                                    60</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">61 -
                                                                    64</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">65 -
                                                                    68</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">69 -
                                                                    70</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="xl69"
                                            style="border-bottom: 2px solid black; height: 38px; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span
                                                        style="font-weight:700"><span><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">CHIỀU CAO
                                                                    (cm).</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">150 -
                                                                    160</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">155 -
                                                                    160</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">155 -
                                                                    160</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">160 -
                                                                    165</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl70"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">160 -
                                                                    165</span></span></span></span></span></span>
                                        </td>
                                        <td class="xl71"
                                            style="border-bottom: 2px solid black; vertical-align: middle; padding-top: 1px; padding-right: 1px; padding-left: 1px; white-space: nowrap; border-top: none; border-right: none; border-left: none; text-align: center;">
                                            <span style="font-size:16px"><span style="color:black"><span><span
                                                            style="font-weight:400"><span
                                                                style="font-style:normal"><span
                                                                    style="text-decoration:none">160 -
                                                                    165</span></span></span></span></span></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>