<main class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/payment-guide']">Hướng dẫn thanh toán</a></li>
            </ul>
        </div>
    </div>
    <section class="ps-section--account">
        <div class="container" style="font-size: 14px;">
            <div class="row " style="padding: 15px;">
                <div class="col-lg-3" style="background-color: #f8f9fa;height: 300px; margin-top: -40px;">
                    <div class="ps-section__left" style="margin-top: 20px;">
                        <aside class="ps-widget--account-dashboard" style="width: 490px;">
                            <div class="ps-widget__content">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/delivery-policy']">Chính sách giao hàng - Vận chuyển</a>
                                    </li>

                                    <li>
                                        <a [routerLink]="['/size-guide']">Hướng dẫn chọn size</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/payment-guide']">Hứơng dẫn thanh toán</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/return-policy']">Quy định đổi hàng</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/warranty-policy']">Quy định bảo hành và sửa chữa</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="ps-section__right">
                        <div class="ps-section--account-setting">
                            <div style="margin-top: -40px; margin-left: 20px;">
                                <div data-content-type="row" data-appearance="contained" data-element="main">
                                    <div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}"
                                        data-background-type="image" data-video-loop="true"
                                        data-video-play-only-visible="true" data-video-lazy-load="true"
                                        data-video-fallback-src="" data-element="inner" data-pb-style="TNE3MSV">
                                    
                                        <h3 data-content-type="heading" data-appearance="default" data-element="main" style="text-align: center; font-size: 20px;">
                                           HƯỚNG DẪN MUA HÀNG</h3>
                                        <div data-content-type="text" data-appearance="default" data-element="main">
                                            <p><span style="font-size: 14px;">Quý khách có thể thỏa sức mua sắm trực
                                                    tuyến các sản phẩm chính hãng của Sandro bằng cách đặt hàng trực
                                                    tiếp tại trang web này theo từng bước đặt hàng dưới đây:</span></p>
                                            <p><strong>Cách 1:</strong>&nbsp;Gọi điện thoại đến hotline&nbsp;<a
                                                    tabindex="0" href="tel:+84971549770">(+84) 97 1549 770
                                                    </a>&nbsp;trong khung giờ làm việc từ 9h00 – 18h00 (từ Thứ 2 đến
                                                Thứ 6 – trừ các ngày lễ, Tết toàn quốc) để đặt hàng, nhân viên KaliRoseShop
                                                Việt Nam luôn sẵn phục vụ, tư vấn và hỗ trợ Quý khách mua được sản phẩm
                                                ưng ý.</p>
                                           
                                            <p><strong>Cách 2:&nbsp;</strong>Nhắn tin trực tiếp với đội ngũ nhân viên tư
                                                vấn của Sandro Việt Nam tại biểu tượng “FaceBook" luôn hiện diện cuối trang website, hoặc
                                                Chat qua Facebook Sandro (VN) chính thức tại&nbsp;<span
                                                    style="text-decoration: underline; color: #0000ff;"><a
                                                        style="color: #0000ff; text-decoration: underline;"
                                                        href="">đây</a></span>&nbsp;để
                                                được hỗ trợ chi tiết.</p>
                                            
                                            <p><strong>Cách 3:&nbsp;</strong>Đặt hàng online tại website&nbsp;<a
                                                    href="">KaliRoseShop.com.vn</a></p>
                                           
                                            <p><span style="font-size: 14px;"><strong>Bước 1:</strong> Truy cập vào
                                                    <strong><span style="color: #0000ff;"><a style="color: #0000ff;"
                                                                tabindex="0"
                                                                href="">https://www.KaliRoseShop.com.vn/</a></span></strong>
                                                    để bắt đầu mua hàng</span></p>
                                            
                                            <p><span style="font-size: 14px;"><strong>Bước 2:</strong> Tìm kiếm sản phẩm
                                                    &amp; Lựa chọn sản phẩm</span><br><span style="font-size: 14px;">Quý
                                                    khách có thể tìm kiếm sản phẩm theo nhu cầu theo 3 cách:</span></p>
                                            <p><span style="font-size: 14px;">1) Gõ tên sản phẩm hoặc loại sản phẩm vào
                                                    thanh tìm kiếm.</span><br><span style="font-size: 14px;">2) Tìm theo
                                                    danh mục sản phẩm</span><br><span style="font-size: 14px;">3) Tìm
                                                    theo các sản phẩm mới nhất, bán chạy, khuyến mãi hoặc theo bộ sưu
                                                    tập&nbsp;</span></p>
                                            <p><span style="font-size: 14px;">Để chọn sản phẩm yêu thích, quý khách vui
                                                    lòng bấm vào hình hoặc tên sản phẩm để vào được trang thông tin chi
                                                    tiết của sản phẩm.</span></p>
                                            <p><span style="font-size: 14px;">Quý khách có thể sử dụng bộ lọc để lọc các
                                                    sản phẩm giá sản phẩm, sản phẩm nổi bật theo mong muốn.</span></p>
                                           
                                            <p><span style="font-size: 14px;"><strong>Bước 3:</strong> Thêm sản phẩm vào
                                                    giỏ hàng</span><br><span style="font-size: 14px;">Sau khi đã chọn
                                                    được sản phẩm yêu thích, Quý khách vui lòng kiểm tra các thông tin
                                                    về giá và chọn các thuộc tính của sản phẩm: kích cỡ.
                                                </span></p>
                                            <p><span style="font-size: 14px;">Sau đó chọn “Thêm vào giỏ hàng” (nếu vẫn
                                                    còn nhu cầu mua thêm sản phẩm khác).</span></p>
                                            <p><span style="font-size: 14px;">(Quá trình này có thể lặp lại cho đến khi
                                                    quý khách hoàn tất việc bỏ tất cả các sản phẩm cần đặt mua vào giỏ
                                                    hàng).</span></p>
                                            <p><span style="font-size: 14px;">Quý khách vui lòng kiểm tra thông tin sản
                                                    phẩm, số lượng trước khi tiến hành đặt hàng và thanh toán.</span>
                                            </p>
                                            
                                            <p><span style="font-size: 14px;"><strong>Bước 4:</strong> Kiểm tra giỏ hàng
                                                    và đặt hàng.</span><br><span style="font-size: 14px;">Sau khi đã cho
                                                    các sản phẩm cần mua vào giỏ hàng, thực hiện tiếp các thao tác
                                                    sau:</span></p>
                                            <p><span style="font-size: 14px;">- Bấm vào icon giỏ hàng ở góc phải màn
                                                    hình để Xem giỏ hàng.</span></p>
                                            <p><span style="font-size: 14px;">- Kiểm tra số lượng sản phẩm, giá trị đơn
                                                    hàng (có thể bấm dấu x để xóa sản phẩm)</span></p>
                                            <p><span style="font-size: 14px;">Quý khách có thể đặt các sản phẩm khác
                                                    nhau trong 1 giỏ hàng thành 1 đơn hàng. Các sản phẩm trong giỏ hàng
                                                    sẽ được đóng thành 1 kiện hàng và giao đến địa chỉ quý khách đã đăng
                                                    ký.</span></p>
                                            <p><span style="font-size: 14px;">- Bấm “Thanh toán” để tiếp tục.</span></p>
                                            <p><span style="font-size: 14px;">Tại đây, màn hình hiện ra yêu cầu đăng
                                                    nhập. Nếu đã có tài khoản thành viên, Quý khách chọn “Đăng nhập ”</span></p>
                                          
                                           
                                            <p><span style="font-size: 14px;"><strong>Bước 5:</strong>Điền địa chỉ nhận hàng</span><br></p>
                                        
                                          
                                            <p><span style="font-size: 14px;"><strong>Bước 6:</strong> Xác nhận đơn
                                                    hàng</span><br><span style="font-size: 14px;">Sau khi đã hoàn tất
                                                    các bước đặt mua và thanh toán thành công, hệ thống hiển thị màn
                                                    hình xác nhận Đơn hàng đã được thành công và các
                                                    thông tin chi tiết.</span></p>
                                            <p><span style="font-size: 14px;">Một vài phút sau, Quý khách sẽ nhận được
                                                    email xác nhận thanh toán thành công.</span></p>
                                          
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>