.header__top{
    background-color: #FBCEDC;
}

.navigation{
    background-color: #FBCEDC;
}
.menu-item1 .fa {
    font-size: 25px;
    line-height: 35px;
    color: black;
    margin-right: 5px;
}


.menu-item1 .fa:hover{
    color: white;

} 
.menu-item3 .fa {

    margin-left: 10px;

}

.menu1 {
    text-align: left;
}

.menu1>li {
    display: inline-block;
}

.menu1>li>a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
}

.menu1>li>a:hover {
    color: white;
    flex-flow: row nowrap;
}

.menu1>li:first-child {
    padding-left: 0;
}

.menu1>li:first-child>a {
    padding-left: 0;
}

.menu1>li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.menu1>li .sub-toggle {
    margin-left: 5px;
    display: none;
}

.menu1>li .sub-menu {
    visibility: hidden;
    opacity: 0;
}

.menu1>li .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
}

.menu1>li.menu-item-has-children {
    position: relative;
}

.menu1>li.menu-item-has-children>a:after {
    content: "\e93a";
    font: normal normal normal 12px/1 linearicons;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.menu1>li.menu-item-has-children>a:before {
    content: '';
    width: 13px;
    height: 13px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10000;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
    visibility: hidden;
    opacity: 0;
}

.menucontent {
    display: none;
    z-index: 9999;
}

.navigation__right ul li:hover .menucontent {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -15px;
}

.navigation__right ul li:hover .menucontent ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

.navigation__right ul li:hover .menucontent ul {
    width: 220px;
    text-align: left;
}